<table>
    <tr>
        <td class="menu"><a href="{{site.baseurl}}/">Home</a></td>
        <td class="menu"><a href="{{site.baseurl}}/lesson">Lesson</a></td>
        <td class="menu"><a href="{{site.baseurl}}/calculator">Calculator</a></td>
        <td class="menu"><a href="{{site.baseurl}}/stopwatch">Stopwatch</a></td>
        <td class="menu"><a href="{{site.baseurl}}/hacksHW">Hacks and Homework</a></td>
        <td class="menu"><a href="{{site.baseurl}}/quiz">Hacks Quiz</a></td>
        <td class="menu"><a href="{{site.baseurl}}/quizdata">Quiz Responses</a></td>
    </tr>
</table>
